<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Proyecto Carrito • <%= chapter_data[:title][:original] %></title>
</head>
<body>
	

	<div class="chapter">
		<div id="chapter_or">
			<%= chapter_data[:html][:original] %>
		</div>
		<div id="chapter_en">
			<%= chapter_data[:html][:english] %>
		</div>
		<div id="chapter_es">
			<%= chapter_data[:html][:spanish] %>
		</div>
	</div>

</body>
</html>