* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

body {
  font: 16px/1.4em 'freight-text-pro', serif;
  position: relative; }

.content_en, .content_es {
  display: none; }

a:link, a:visited {
  color: #215EA6; }
a:hover, a:active {
  background: #FFE500;
  text-decoration: none;
  color: #000; }

header {
  font: 17px/1.3em 'mr-eaves-modern', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  position: relative; }
  @media (min-width: 768px) {
    header {
      -moz-column-count: 3;
      column-count: 3;
      position: fixed;
      width: 100%; } }
  header a:link, header a:visited {
    color: #fff;
    text-decoration: none; }
  header a:hover, header a:active {
    color: #FFE500;
    text-decoration: underline;
    background: none; }
  header nav {
    text-align: center;
    padding-top: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      header nav {
        text-align: left;
        padding-top: 2px;
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0; } }
    header nav ul li {
      display: inline-block;
      margin-right: 5px; }
    header nav #toc_button.active {
      border-bottom: 1px solid #fff; }
      header nav #toc_button.active:hover, header nav #toc_button.active:active {
        border-bottom: none;
        text-decoration: none; }
  header #book_title_small, header #book_title {
    font-weight: bold;
    text-align: center; }
  header #book_title_small {
    display: block; }
    @media (min-width: 768px) {
      header #book_title_small {
        display: none; } }
  header #book_title {
    padding-top: 2px;
    display: none; }
    @media (min-width: 768px) {
      header #book_title {
        display: block; } }
  header #lang_switcher {
    text-align: center; }
    @media (min-width: 768px) {
      header #lang_switcher {
        text-align: right; } }
    header #lang_switcher li {
      display: inline-block;
      margin-left: 5px; }
      header #lang_switcher li.lang:hover {
        color: #FFE500;
        cursor: pointer;
        text-decoration: underline; }
      header #lang_switcher li.active {
        background: #215EA6;
        padding: 2px 5px 0;
        border-radius: 5px; }
        header #lang_switcher li.active:hover {
          color: #fff;
          cursor: default;
          text-decoration: none; }
  header #toc {
    display: none;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    position: relative; }
    @media (min-width: 768px) {
      header #toc {
        text-align: left;
        border-bottom: none;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 34px;
        background: #000;
        padding: 10px 20px;
        overflow-y: scroll; } }
    header #toc #toc_close {
      position: absolute;
      right: 10px;
      top: 5px;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 10px;
      text-align: center;
      line-height: 18px; }
      @media (min-width: 768px) {
        header #toc #toc_close {
          top: 15px; } }
      header #toc #toc_close:hover {
        background: #FFE500;
        border-color: #FFE500;
        color: #000;
        cursor: pointer; }
    header #toc .toc_section {
      margin-bottom: 10px; }
      header #toc .toc_section:last-child {
        margin-bottom: 0; }
    header #toc .section_title {
      font-weight: bold; }
    header #toc li.active a:link, header #toc li.active a:visited {
      background: #215EA6;
      padding: 2px 5px;
      border-radius: 5px;
      margin-left: -5px; }
    header #toc li.active a:hover, header #toc li.active a:active {
      color: #fff;
      cursor: default;
      text-decoration: none; }

#chapter_or, #chapter_en, #chapter_es {
  min-height: 100%; }

.chapter {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 5% 0; }
  .chapter:first-child {
    padding-top: 50px; }
  @media (min-width: 768px) {
    .chapter {
      padding: 30px 0 0; }
      .chapter:first-child {
        padding-top: 90px; } }
  .chapter .date {
    text-align: center;
    color: #777;
    margin-bottom: 10px; }
  .chapter h1 {
    font: 38px/1em 'freight-display-pro', serif;
    font-weight: 400;
    text-align: center;
    color: #215EA6;
    margin-bottom: 30px; }
  .chapter h2 {
    font: 30px/1em 'freight-display-pro', serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #215EA6;
    margin-top: -25px;
    margin-bottom: 30px; }
  .chapter .by {
    text-align: center;
    margin-bottom: 50px; }
  .chapter .about {
    background: #215EA6;
    padding: 10px;
    color: #fff;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center; }
  .chapter h3 {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em; }
  .chapter .sub_by {
    font-style: italic;
    margin-top: -0.5em;
    margin-bottom: 0.5em; }
  .chapter h4 {
    font-weight: bold;
    font-variant: small-caps; }
  .chapter p {
    margin-bottom: 1em; }
    .chapter p:last-child {
      margin-bottom: 0; }
  .chapter p.indent {
    margin-left: 2em; }
  .chapter em {
    font-style: italic; }
  .chapter strong {
    font-weight: bold; }
  .chapter .smallcaps {
    font-variant: small-caps; }
  .chapter .divider {
    visibility: hidden; }
    .chapter .divider:after {
      visibility: visible;
      content: "";
      display: block;
      border-top: 3px double #333;
      width: 80%;
      margin: 0 auto 2.25em; }
  .chapter ol {
    list-style-type: decimal;
    margin-bottom: 1em; }
    .chapter ol li {
      margin-bottom: 0.3em; }
  .chapter blockquote {
    margin: 0 2em;
    font-style: italic;
    margin-bottom: 1em; }
  .chapter .blockquote_by {
    margin: -0.5em 2em 1em; }
  .chapter .tweet, .chapter .tweet_meta {
    display: none; }
  .chapter .embed {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em; }
  .chapter .video {
    margin-bottom: 1em; }

.header_img {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center; }
  @media (min-width: 768px) {
    .header_img {
      height: 500px; } }

.header_img_caption {
  color: #333;
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px; }

.previous_next {
  max-width: 600px;
  margin: 50px auto;
  padding: 0 5%; }
  @media (min-width: 768px) {
    .previous_next {
      padding: 0; } }
  .previous_next:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .previous_next #prev_link, .previous_next #next_link {
    display: none;
    width: 46%;
    float: left; }
  .previous_next #prev_link {
    margin-right: 8%; }
  .previous_next .desc {
    font: 17px/1.3em 'mr-eaves-modern', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #333;
    margin-bottom: 5px; }

a.fn:link, a.fn:visited {
  font-weight: normal;
  width: 20px;
  height: 20px;
  background: #FFE500;
  border-radius: 10px;
  text-align: center;
  line-height: 16px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
  margin: 0 4px; }
a.fn:hover, a.fn:active {
  color: #FFE500;
  background: #000; }

#footnote_box {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #FFE500;
  padding: 1em 0;
  max-height: 100%;
  overflow-y: scroll; }
  #footnote_box div {
    max-width: 600px;
    margin: 10px auto 0;
    padding: 0 5%; }
    @media (min-width: 768px) {
      #footnote_box div {
        padding: 0;
        margin: 0 auto; } }
  #footnote_box #fn_close {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    line-height: 16px; }
    #footnote_box #fn_close:hover {
      cursor: pointer;
      background: #000;
      color: #FFE500; }

footer {
  font: 17px/1.3em 'mr-eaves-modern', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  background: #215EA6;
  padding: 10px 20px; }
  footer a:link, footer a:visited {
    color: #fff;
    text-decoration: underline; }
  footer a:hover, footer a:active {
    color: #FFE500;
    background: none; }

/*# sourceMappingURL=main.css.map */
