* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 16px/1.4em 'freight-text-pro', serif; }

.content_en, .content_es {
  display: none; }

a:link, a:visited {
  color: #215EA6; }
a:hover, a:active {
  background: #FFE500;
  text-decoration: none;
  color: #000; }

header {
  font: 17px/1.3em 'mr-eaves-modern', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  position: relative; }
  @media (min-width: 768px) {
    header {
      column-count: 3;
      position: fixed;
      width: 100%; } }
  header a:link, header a:visited {
    color: #fff;
    text-decoration: none; }
  header a:hover, header a:active {
    color: #FFE500;
    text-decoration: underline;
    background: none; }
  header nav {
    text-align: center;
    padding-top: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      header nav {
        text-align: left;
        padding-top: 2px;
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0; } }
    header nav ul li {
      display: inline-block;
      margin-right: 5px; }
    header nav #toc_button.active {
      border-bottom: 1px solid #fff; }
      header nav #toc_button.active:hover, header nav #toc_button.active:active {
        border-bottom: none;
        text-decoration: none; }
  header #book_title_small, header #book_title {
    font-weight: bold;
    text-align: center; }
  header #book_title_small {
    display: block; }
    @media (min-width: 768px) {
      header #book_title_small {
        display: none; } }
  header #book_title {
    padding-top: 2px;
    display: none; }
    @media (min-width: 768px) {
      header #book_title {
        display: block; } }
  header #lang_switcher {
    text-align: center; }
    @media (min-width: 768px) {
      header #lang_switcher {
        text-align: right; } }
    header #lang_switcher li {
      display: inline-block;
      margin-left: 5px; }
      header #lang_switcher li.lang:hover {
        color: #FFE500;
        cursor: pointer;
        text-decoration: underline; }
      header #lang_switcher li.active {
        background: #215EA6;
        padding: 2px 5px 0;
        border-radius: 5px; }
        header #lang_switcher li.active:hover {
          color: #fff;
          cursor: default;
          text-decoration: none; }
  header #toc {
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    position: relative; }
    @media (min-width: 768px) {
      header #toc {
        text-align: left;
        border-bottom: none;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 34px;
        background: #000;
        padding: 10px 20px; } }
    header #toc #toc_close {
      position: absolute;
      right: 10px;
      top: 5px;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 10px;
      text-align: center;
      line-height: 18px; }
      @media (min-width: 768px) {
        header #toc #toc_close {
          top: 15px; } }
      header #toc #toc_close:hover {
        background: #FFE500;
        border-color: #FFE500;
        color: #000;
        cursor: pointer; }
    header #toc .toc_section {
      margin-bottom: 10px; }
      header #toc .toc_section:last-child {
        margin-bottom: 0; }
    header #toc .section_title {
      font-weight: bold; }
    header #toc li.active a:link, header #toc li.active a:visited {
      background: #215EA6;
      padding: 2px 5px;
      border-radius: 5px;
      margin-left: -5px; }
    header #toc li.active a:hover, header #toc li.active a:active {
      color: #fff;
      cursor: default;
      text-decoration: none; }

.chapter {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 5% 0; }
  @media (min-width: 768px) {
    .chapter {
      padding: 90px 0 0; } }
  .chapter h1 {
    font: 38px/1em 'freight-display-pro', serif;
    font-weight: 400;
    text-align: center;
    color: #215EA6;
    margin-bottom: 30px; }
  .chapter .by {
    text-align: center;
    margin-bottom: 30px; }
  .chapter .about {
    background: #215EA6;
    padding: 10px;
    color: #fff;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center; }

footer {
  text-align: center;
  margin-top: 30px; }

/*# sourceMappingURL=main.css.map */
