* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// Proyecto Carrito

$pcblue: #215EA6;
$pcyellow: #FFE500;
$break1: 768px;

body {
	font: 16px/1.4em 'freight-text-pro', serif;
}

.content_en, .content_es {
	display: none;
}

a {
	&:link, &:visited {
		color: $pcblue;
	}
	&:hover, &:active {
		background: $pcyellow;
		text-decoration: none;
		color: #000;
	}
}

header {
	font: 17px/1.3em 'mr-eaves-modern', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background: #000;
	color: #fff;
	padding: 10px 20px;

	@media(min-width: $break1) {
		column-count: 3;
	}

	nav {
		text-align: center;
		padding-top: 0;
		padding-bottom: 6px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 8px;
		@media(min-width: $break1) {
			text-align: left;
			padding-top: 2px;
			padding-bottom: 0;
			border-bottom: none;
			margin-bottom: 0;
		}
		ul {
			li {
				display: inline-block;
				margin-right: 5px;
				a {
					&:link, &:visited {
						color: #fff;
						text-decoration: none;
					}
					&:hover, &:active {
						color: $pcyellow;
						cursor: pointer;
					}
				}
			}
		}
	}

	#book_title_small, #book_title {
		font-weight: bold;
		text-align: center;
	}

	#book_title_small {
		display: block;
		@media(min-width: $break1) {
			display: none;
		}
	}

	#book_title {
		padding-top: 2px;
		display: none;
		@media(min-width: $break1) {
			display: block;
		}
	}

	#lang_switcher {
		text-align: center;
		@media(min-width: $break1) {
			text-align: right;
		}
		li {
			display: inline-block;
			margin-left: 5px;
			&:hover {
				color: $pcyellow;
				cursor: pointer;
			}
			&.active {
				background: $pcblue;
				padding: 2px 5px 0;
				border-radius: 5px;
				&:hover {
					color: #fff;
					cursor: default;
				}
			}
		}
	}
}

.chapter {
	max-width: 600px;
	margin: 0 auto;
	padding: 50px 5% 0;

	@media(min-width: $break1) {
		padding: 50px 0 0;
	}

	h1 {
		font: 38px/1em 'freight-display-pro', serif;
		font-weight: 400;
		text-align: center;
		color: $pcblue;
		margin-bottom: 30px;
	}

	.by {
		text-align: center;
		margin-bottom: 30px;
	}

	.about {
		background: $pcblue;
		padding: 10px;
		color: #fff;
		font-style: italic;
		margin-bottom: 20px;
		text-align: center;
	}
}

footer {
	text-align: center;
	margin-top: 30px;
}