<footer>
	Proyecto Carrito: 2010-2016. Copyright © <a href="http://mobilitymovilidad.org" target="_blank">Mobility Movilidad</a> 2017 and licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. <a href="mailto:contact@mobilitymovilidad.org">Contact us</a> for more information.
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js.cookie.js"></script>
<script src="/main.js"></script>