<footer>
	Proyecto Carrito: 2010-2016. © <a href="http://mobilitymovilidad.org" target="_blank">Mobility Movilidad</a> 2017
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/main.js"></script>