<header>
	<div id="book_title_small">Proyecto Carrito 2010-2016</div>

	<nav>
		<ul>
			<li>
				<a href="#">
					<span class="content_or">Contents</span>
					<span class="content_en">Contents</span>
					<span class="content_es">Índice</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="content_or">About</span>
					<span class="content_en">About</span>
					<span class="content_es">Acerca del libro</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="content_or">Buy</span>
					<span class="content_en">Buy</span>
					<span class="content_es">Comprar</span>
				</a>
			</li>
		</ul>
	</nav>
	<ol id="toc"></ol>

	<div id="book_title">Proyecto Carrito 2010-2016</div>

	<ul id="lang_switcher">
		<li>Read in</li>
		<li class="lang" data-lang="or">Original</li>
		<li class="lang" data-lang="en">English</li>
		<li class="lang" data-lang="es">Español</li>
	</ul>

</header>