<header>
	<nav>
		<ul>
			<li>
				<div class="content_or">Contents</div>
				<div class="content_en">Contents</div>
				<div class="content_es">Índice</div>
			</li>
			<li>
				<div class="content_or">About</div>
				<div class="content_en">About</div>
				<div class="content_es">Acerca del libro</div>
			</li>
			<li>
				<div class="content_or">Buy</div>
				<div class="content_en">Buy</div>
				<div class="content_es">Comprar</div>
			</li>
		</ul>
	</nav>

	<div id="book_title">Proyecto Carrito 2010-2016</div>

	<ul id="lang_switcher">
		<li>Read in</li>
		<li class="lang active" data-lang="or">Original</li>
		<li class="lang" data-lang="en">English</li>
		<li class="lang" data-lang="es">Español</li>
	</ul>

</header>